.planned {
    /*left: 10px !important;*/
    /*width: 95%;*/
}
.started {
    background: #2b802f;
    /*left: 10px !important;*/
    /*width: 95%;*/
}
.finished {
    background: #8b5333;
    /*left: 10px !important;*/
    /*width: 95%;*/
}
.canceled {
    background: #ff4b43;
    /*left: 10px !important;*/
    /*width: 95%;*/
}
.workTime {
    left: 0 !important;
    background: green;
    width: 8px;
    border: 0 green;
}
.workTime .fc-time {
    visibility: hidden;
}
.offTime {
    left: 0 !important;
    background: red;
    width: 8px;
    border: 0 red;
}
.offTime .fc-time {
    visibility: hidden;
}
.fc-resizer {
    height: 3px !important;
}
.quotaWorkTime {
    background: green;
}
.quotaOffTime {
    background: red;
}
.cabinetLabel {
    width: 10%;
    text-align: right;
}
.cabinetValue {
    width: 33%;
}
.workplaceLabel {
    width: 24%;
    text-align: right;
}
.workplaceValue {
    width: 33%;
}
.doctorLabel {
    width: 10%;
}
.doctorValue {
    width: 90%;
}

.eventMenu {
    width: 18%;
}
.eventMenuButton {
    width: 100%;
}
.quotaMenu {
    width: 18%;
}
quotaMenuButton {
    width: 100%;
}
.workplaceViewType {
    width: 30%;
}
.workplaceViewValue {
    width: 70%;
}